<p>dashboard works!</p>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4 py-2 shadow">
  <div class="container-fluid">
    
    <a class="navbar-brand fw-bold" href="#"> PlayerApp</a>

    
    <div class="collapse navbar-collapse justify-content-between" id="navbarText">
      
      <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/addPlayer">Add Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/updatePlayer">Update Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/displayall">View All</a>
        </li>
      </ul>

      
      <form class="d-flex bg-light p-2 rounded shadow-sm" (ngSubmit)="find(data)">
        <input
          class="form-control me-2 border-0"
          type="search"
          name="data"
          [(ngModel)]="data"
          placeholder="Search players..."
          aria-label="Search"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


